@charset "UTF-8";
/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Colores*/
/*Fuentes*/
/*Tamaños*/
.header {
  display: flex;
  justify-content: center;
}
.header .logo {
  top: 0;
  z-index: 0;
  position: relative;
}

#notice {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.3em 0;
  background-color: #35B82C;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 400;
}

#line {
  width: 100%;
}
#line .line_title {
  display: block;
  font-size: 1.3em;
  margin: 2em auto 0;
  width: fit-content;
  padding: 0.2em 0.5em;
  margin-bottom: 2.5em;
  color: #ffffff;
  background-color: #000603;
}
#line .line__menu {
  display: none;
}

.catalog {
  margin-bottom: 2em;
}
.catalog .lines__image {
  display: none;
}
.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog__container .product {
  width: 85%;
  max-width: 25em;
  height: fit-content;
  margin-bottom: 3em;
  background-color: #ffffff;
  border: 0.5px solid #b3b1b1;
  overflow: hidden;
}
.catalog__container .product__image {
  position: relative;
  width: 100%;
  height: fit-content;
}
.catalog__container .product__image img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  -webkit-transition: transform 0.8s ease;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.catalog__container .product__image .view_more {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 0.7em 0;
  font-size: 1.4em;
  font-weight: 600;
  background-color: #35b82ce7;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.catalog__container .product__image .view_more:hover {
  background-color: #16940de7;
}
.catalog__container .product__image .product__discount {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7em;
  font-size: 1.3em;
  font-weight: 500;
  background-color: #B82C2C;
  color: #ffffff;
}
.catalog__container .product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  height: 10em;
  width: 100%;
  background-color: #ffffff;
}
.catalog__container .product__info-description, .catalog__container .product__info-link {
  display: none;
}
.catalog__container .product__info-name {
  font-family: "Lora", "sans-serif";
  font-size: 1.6em;
}
.catalog__container .product__info .product__prices {
  display: flex;
  margin-top: 0.5em;
}
.catalog__container .product__info .product__prices-before {
  display: none;
  margin-right: 1em;
  font-size: 1.6em;
  font-weight: 600;
  color: #ec5248;
}
.catalog__container .product__info .product__prices-before strike {
  font-family: "Lora", "sans-serif";
}
.catalog__container .product__info .product__prices-new {
  font-family: "Lora", "sans-serif";
  font-size: 1.6em;
  font-weight: 600;
  color: #35B82C;
}

@media screen and (min-width: 375px) {
  #line .line_title {
    font-size: 1.7em;
  }

  .catalog__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    max-width: 55em;
    margin: 0 auto;
  }
  .catalog__container .product {
    max-width: 30em;
  }
  .catalog__container .product__info {
    height: 12em;
  }
}
@media screen and (min-width: 768px) {
  .header .mobile_menu {
    position: absolute;
    top: 4em;
  }
  .header .logo {
    position: absolute;
    max-width: 10em;
    top: 5.2em;
    right: 2.2em;
  }

  #line .line_title {
    margin-top: 7em;
  }

  .catalog__container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 70em;
  }
  .catalog__container .product__image .product__discount {
    padding: 0.6em;
  }
  .catalog__container .product {
    max-width: 20em;
  }
}
@media screen and (min-width: 1024px) {
  .header .logo {
    max-width: 13em;
    top: 4em;
  }

  .catalog__container {
    max-width: 100em;
    grid-template-columns: repeat(5, 1fr);
  }
  .catalog__container .product {
    max-width: 25em;
  }
  .catalog__container .product__image .view_more {
    opacity: 0;
    display: block;
  }
  .catalog__container .product__info {
    height: 9.4em;
    z-index: 2;
  }
  .catalog__container .product:hover .view_more {
    opacity: 1;
  }
  .catalog__container .product:hover .product__image img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .catalog__container .product__image .product__discount {
    font-size: 1em;
  }
  .catalog__container .product__info {
    padding: 1em;
  }
  .catalog__container .product__info-name {
    font-size: 1.3em;
  }
  .catalog__container .product__info .product__prices-before, .catalog__container .product__info .product__prices-new {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1280px) {
  .header .logo {
    top: 3.5em;
  }

  .catalog .product__image .product__discount {
    font-size: 1.2em;
    padding: 0.8em;
  }
}