@charset "UTF-8";
/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Colores*/
/*Fuentes*/
/*Tamaños*/
/*Provicionales*/
/*Generales*/
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, li, a, strike {
  font-family: "Rubik", "sans-serif";
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.4em;
}

.lines__label {
  display: block;
  font-size: 1.3em;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2em 0.5em;
  margin-bottom: 2.5em;
  color: #ffffff;
  background-color: #000603;
}

.modal {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  background-color: #000000de;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
.modal .offerModal, .modal .distributorModal, .modal .wholesaleModal {
  z-index: 6;
  position: relative;
  margin: auto;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(-110%);
  transition: transform 1s ease;
}
.modal .offerModal .close_button, .modal .distributorModal .close_button, .modal .wholesaleModal .close_button {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.modal .offerModal {
  max-width: 35em;
  background-color: #ffffff;
}
.modal .offerModal__image {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.modal .offerModal__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.modal .offerModal__info {
  padding: 1.5em;
}
.modal .offerModal__info-name {
  margin-bottom: 0.5em;
  font-weight: 500;
}
.modal .offerModal__info-description {
  font-size: 1.6em;
  font-weight: 300;
}
.modal .offerModal__info-prices {
  display: flex;
  margin-top: 2em;
}
.modal .offerModal__info-prices .price-before {
  margin-right: 1em;
  color: #B82C2C;
}
.modal .offerModal__info-prices .price-now {
  color: #35B82C;
}
.modal .offerModal__info-buy {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.modal .offerModal__info-buy span {
  margin-right: 1em;
  font-size: 2em;
}
.modal .offerModal__info-buy .social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .offerModal__info-buy .social_media a {
  color: #000603;
}
.modal .offerModal__info-buy .social_media a i {
  font-size: 3em;
}
.modal .distributorModal, .modal .wholesaleModal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40em;
  height: 100%;
  padding: 6em 0 2em;
}
.modal .distributorModal .close_button, .modal .wholesaleModal .close_button {
  z-index: 2;
}
.modal .distributorModal .form__image, .modal .wholesaleModal .form__image {
  position: absolute;
  width: 20%;
}
.modal .distributorModal__title, .modal .wholesaleModal__title {
  z-index: 1;
  width: 90%;
  margin-bottom: 1em;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.modal .distributorModal iframe, .modal .wholesaleModal iframe {
  z-index: 1;
  width: 90%;
  height: 100%;
  max-width: 30em;
}
.modal .distributorModal iframe html, .modal .wholesaleModal iframe html {
  overflow: hidden;
}
.modal .distributorModal {
  background-color: #202A26;
}
.modal .distributorModal img:nth-of-type(2) {
  top: 0;
  left: 0;
}
.modal .distributorModal img:nth-of-type(3) {
  bottom: 0;
  right: 0;
  transform: rotatex(180deg) rotateY(180deg);
}
.modal .wholesaleModal {
  background-color: #312B40;
}
.modal .wholesaleModal .form__image {
  width: 50%;
}
.modal .wholesaleModal img:nth-of-type(2) {
  top: -3em;
  left: -3em;
  transform: rotatex(180deg) rotateY(180deg);
}
.modal .wholesaleModal img:nth-of-type(3) {
  bottom: -3em;
  right: -3em;
}
.modal .modal-visible {
  transform: translateY(0);
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 375px) {
  html {
    font-size: 64%;
  }
}
@media screen and (min-width: 425px) {
  html {
    font-size: 65%;
  }
}
@media screen and (min-width: 597px) {
  html {
    font-size: 66%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
  }

  .lines__label {
    display: none;
  }

  .modal .offerModal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 75em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ffffff;
  }
  .modal .offerModal .close_button {
    left: 1em;
    z-index: 1;
  }
  .modal .offerModal__image {
    width: 100%;
    height: 100%;
  }
  .modal .offerModal__image img {
    width: 100%;
    height: 100%;
  }
  .modal .offerModal__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  .modal .offerModal__info-description {
    font-size: 1.43em;
  }
  .modal .offerModal__info-prices {
    justify-content: center;
  }
  .modal .offerModal__info-buy {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 75%;
  }

  .modal .offerModal .close_button, .modal .distributorModal .close_button, .modal .wholesaleModal .close_button {
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }
  .modal .offerModal .close_button:hover, .modal .distributorModal .close_button:hover, .modal .wholesaleModal .close_button:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 80%;
  }
}
.header {
  position: relative;
  top: 0;
}
.header .hamburguer_button {
  z-index: 2;
  position: fixed;
  top: 3em;
  left: 1.5em;
  min-width: 5em;
  width: 10%;
  max-width: 15em;
  transition: 1s ease;
}
.header .mobile_menu {
  z-index: 1;
  position: fixed;
  top: -110%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffffd5;
  list-style: none;
  overflow-y: auto;
  transition: 1s ease;
}
.header .mobile_menu li {
  width: 80%;
  margin: 0.3em 0;
  font-size: 3em;
  text-align: center;
  color: #000603;
}
.header .mobile_menu li a {
  display: block;
  width: 100%;
  color: #000603;
  text-decoration: none;
}
.header .mobile_menu li .line_menu {
  display: none;
  list-style: none;
  width: 100%;
}
.header .mobile_menu li .line_menu li {
  width: 100%;
  padding-bottom: 0.5em;
  text-align: start;
  font-size: 0.7em;
  border-bottom: 1px solid #000603;
}
.header .show {
  top: 0;
}
.header .logo {
  z-index: 2;
  position: absolute;
  top: 2em;
  right: 1.5em;
  width: 30%;
  min-width: 10em;
  max-width: 20em;
}

@media screen and (min-width: 768px) {
  .header .hamburguer_button {
    display: none;
  }
  .header .mobile_menu {
    z-index: 3;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 2em;
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 60em;
    margin: 0 auto;
    justify-content: space-between;
    list-style: none;
    transition: 0.5s ease;
  }
  .header .mobile_menu li {
    transition: 0.5s ease;
    margin: 0;
    font-size: 1em;
  }
  .header .mobile_menu li a {
    width: 100%;
    height: 100%;
    color: #000603;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 400;
  }
  .header .mobile_menu .line_li {
    font-size: 1.6em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .mobile_menu .active {
    background: #000603;
    color: #ffffff;
  }
  .header .mobile_menu .active a {
    color: #ffffff;
  }
}
@media screen and (min-width: 1024px) {
  .header .logo {
    max-width: 15em;
    right: 8em;
  }
  .header .mobile_menu li a {
    font-size: 1.8em;
  }
  .header .mobile_menu s .line_li {
    font-size: 1.8em;
  }
}
#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/paisaje.jpg");
  background-size: cover;
  background-position: 50% 0%;
}

@media screen and (min-width: 768px) {
  #hero {
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1024px) {
  #hero {
    background-position-y: -25em;
  }
}
#sales {
  padding: 2em 0;
  background-color: #F1FBF3;
}
#sales .glider {
  position: relative;
}
#sales .glider .glider__left, #sales .glider .glider__right {
  z-index: 1;
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  font-size: 2em;
  padding: 0.2em;
  border-radius: 0.3em;
  color: #ffffff;
  background-color: #000603da;
  cursor: pointer;
  transition: background 0.5s ease;
}
#sales .glider .glider__left:hover, #sales .glider .glider__right:hover {
  background-color: #000603;
}
#sales .glider .glider__left {
  left: 5%;
}
#sales .glider .glider__right {
  right: 5%;
}
#sales .glider-dots {
  margin-top: 1em;
}
#sales .glider-dot {
  height: 0.5em;
  border-radius: 0;
  background-color: #707070;
}
#sales .glider-dot.active {
  background-color: #000603;
}
#sales .glider .glider__list {
  /*Perspectiva*/
  /*Fin perspectiva*/
}
#sales .glider .glider__list .left-1, #sales .glider .glider__list .left-2, #sales .glider .glider__list .left-3, #sales .glider .glider__list .left-4, #sales .glider .glider__list .right-1, #sales .glider .glider__list .right-2, #sales .glider .glider__list .right-3, #sales .glider .glider__list .right-4 {
  z-index: 1;
  opacity: 0.9;
}
#sales .glider .glider__list .active {
  z-index: 2;
}
#sales .glider .glider__list .left-1 {
  transform: translateX(25%) scale(0.8);
}
#sales .glider .glider__list .right-1 {
  transform: translateX(-25%) scale(0.8);
}
#sales .glider .glider__list .offer {
  width: 100%;
  transition: 0.3s ease;
}
#sales .glider .glider__list .offer .offer__info {
  display: none;
}
#sales .glider .glider__list .offer .offer__image {
  position: relative;
  width: 80%;
  max-width: 30em;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
}
#sales .glider .glider__list .offer .offer__image img {
  object-fit: cover;
  width: 100%;
  height: 30em;
  cursor: pointer;
}
#sales .glider .glider__list .offer .offer__image img:hover #sales.glider.glider__list.offer-offer__image.img {
  opacity: 0.5;
}
#sales .glider .glider__list .offer .offer__image .offer__discount {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7em;
  font-size: 1.3em;
  background-color: #B82C2C;
  color: #ffffff;
}
#sales .glider .glider__list .offer .offer__image .offer__name {
  margin-top: 0.8em;
  font-family: "Lora", "sans-serif";
  font-weight: 500;
}
#sales .glider .glider__list .offer .offer__image .offer__prices {
  display: flex;
  margin: 0.5em 0 1em;
}
#sales .glider .glider__list .offer .offer__image .offer__prices h6 {
  font-weight: 500;
}
#sales .glider .glider__list .offer .offer__image .offer__prices-before {
  color: #ec5248;
}
#sales .glider .glider__list .offer .offer__image .offer__prices-new {
  margin-left: 1em;
  color: #35B82C;
}

@media screen and (min-width: 425px) {
  #sales .glider .glider__list .offer .offer__image img {
    height: 33em;
  }
  #sales .glider .glider__list .left-1 {
    transform: translateX(30%) scale(0.8);
  }
  #sales .glider .glider__list .right-1 {
    transform: translateX(-30%) scale(0.8);
  }
}
@media screen and (min-width: 472px) {
  #sales .glider .glider__list .offer .offer__image img {
    height: 34em;
  }
  #sales .glider .glider__list .left-1 {
    transform: translateX(40%) scale(0.8);
  }
  #sales .glider .glider__list .right-1 {
    transform: translateX(-40%) scale(0.8);
  }
}
@media screen and (min-width: 550px) {
  #sales .glider {
    max-width: 76.8em;
  }
  #sales .glider .glider__list .left-1 {
    transform: translateX(48%) scale(0.8);
  }
  #sales .glider .glider__list .right-1 {
    transform: translateX(-48%) scale(0.8);
  }
  #sales .glider .glider__list .left-2 {
    transform: translateX(100%) scale(0.7);
  }
  #sales .glider .glider__list .right-2 {
    transform: translateX(-100%) scale(0.7);
  }
}
@media screen and (min-width: 597px) {
  #sales .glider .glider__list .offer {
    transition: 0.5s ease;
  }
  #sales .glider .glider__list .left-1 {
    transform: translateX(53%) scale(0.8);
  }
  #sales .glider .glider__list .right-1 {
    transform: translateX(-53%) scale(0.8);
  }
  #sales .glider .glider__list .left-2 {
    transform: translateX(112%) scale(0.7);
  }
  #sales .glider .glider__list .right-2 {
    transform: translateX(-112%) scale(0.7);
  }
  #sales .glider .glider__list .left-3 {
    transform: translateX(130%) scale(0.6);
  }
  #sales .glider .glider__list .right-3 {
    transform: translateX(-130%) scale(0.6);
  }
}
@media screen and (min-width: 720px) {
  #sales {
    padding: 7em 0;
  }
  #sales .glider .glider__list .offer {
    transition: 0.6s ease;
  }
  #sales .glider .glider__list .left-1 {
    transform: translateX(60%) scale(0.8);
  }
  #sales .glider .glider__list .right-1 {
    transform: translateX(-60%) scale(0.8);
  }
  #sales .glider .glider__list .left-2 {
    transform: translateX(126%) scale(0.7);
  }
  #sales .glider .glider__list .right-2 {
    transform: translateX(-126%) scale(0.7);
  }
  #sales .glider .glider__list .left-3 {
    transform: translateX(195%) scale(0.6);
  }
  #sales .glider .glider__list .right-3 {
    transform: translateX(-195%) scale(0.6);
  }
  #sales .glider .glider__list .left-4 {
    transform: translateX(225%) scale(0.5);
  }
  #sales .glider .glider__list .right-4 {
    transform: translateX(-225%) scale(0.5);
  }
}
@media screen and (min-width: 1024px) {
  #sales {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  #sales .glider .glider__list .offer .offer__image {
    max-width: 33em;
    overflow: hidden;
  }
  #sales .glider .glider__list .offer .offer__image img {
    transition: transform 0.5s ease;
  }
  #sales .glider .glider__list .offer .offer__image img:hover {
    transform: scale(1.1);
  }
}
#lines {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}
#lines .lines__image {
  position: absolute;
  width: 10%;
  max-width: 10em;
}
#lines .lines__image:nth-last-of-type(1) {
  top: -1%;
  left: 0;
}
#lines .lines__image:nth-last-of-type(2) {
  transform: rotateY(180deg);
  top: 50%;
  right: 0;
}
#lines .lines__title {
  margin-bottom: 0.5em;
  color: #000603;
  font-weight: 500;
  text-align: center;
}
#lines .catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 70em;
}
#lines .catalog .line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 30em;
  margin-bottom: 3.5em;
  padding: 1.5em;
  background-color: #000603a9;
  box-shadow: 0px 2px 5px #0000009a;
  text-decoration: none;
}
#lines .catalog .line__image {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#lines .catalog .line__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  text-decoration: none;
}
#lines .catalog .line__container-name {
  font-weight: 500;
  color: #ffffff;
  font-style: italic;
  font-family: "Lora", "sans-serif";
}
#lines .catalog .line__container-button {
  position: absolute;
  bottom: 10%;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 500;
  background-color: #10312A;
  color: #72EF8B;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #lines {
    padding-top: 5em;
  }
  #lines .lines__image:nth-last-of-type(1) {
    top: -10%;
  }
  #lines .lines__image:nth-last-of-type(2) {
    top: 30%;
  }
  #lines .lines__title {
    margin-bottom: 2em;
  }
  #lines .catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  #lines .lines__image {
    max-width: 7em;
  }
  #lines .catalog {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80em;
  }
  #lines .catalog .line {
    overflow: hidden;
    width: 15em;
    height: 26em;
  }
  #lines .catalog .line .line__image {
    transition: transform 0.8s ease;
  }
  #lines .catalog .line:hover .line__image {
    transform: scale(1.1);
  }
}
#story {
  position: relative;
  background-color: #000603;
  padding: 6em 3em;
}
#story .primaryLeaf {
  position: absolute;
  width: 50%;
  max-width: 20em;
}
#story .primaryLeaf:nth-last-of-type(1) {
  top: -5%;
  right: -5%;
  transform: rotateX(180deg);
}
#story .primaryLeaf:nth-last-of-type(2) {
  bottom: -7%;
  left: -5%;
  transform: rotateY(180deg);
}
#story .story__container {
  padding: 1em;
  color: #ffffff;
  border: 2px solid #583760;
  border-radius: 1em;
  text-align: center;
}
#story .story__container-title {
  margin-bottom: 0.5em;
}
#story .story__container-parraph {
  font-size: 1.4em;
  font-weight: 300;
}

@media screen and (min-width: 425px) {
  #story {
    display: flex;
    justify-content: center;
  }
  #story .story__container {
    width: 80%;
    max-width: 50em;
  }
}
@media screen and (min-width: 597px) {
  #story .primaryLeaf {
    max-width: 25em;
  }
}
@media screen and (min-width: 1024px) {
  #story {
    height: 100vh;
  }
  #story .primaryLeaf {
    max-width: 32em;
  }
  #story .primaryLeaf:nth-last-of-type(1) {
    top: -10%;
    right: -3%;
  }
  #story .primaryLeaf:nth-last-of-type(2) {
    bottom: -10%;
    left: -3%;
  }
  #story .story__container {
    max-width: 60em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto 0;
    padding: 2em;
  }
}
@media screen and (min-width: 1144px) {
  #story .primaryLeaf {
    max-width: 45em;
  }
}
@media screen and (min-width: 1280px) {
  #story .primaryLeaf {
    max-width: 50em;
  }
}
@media screen and (min-width: 1440px) {
  #story .primaryLeaf {
    max-width: 55em;
  }
}
#location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 3em;
}
#location .location__container {
  width: 100%;
  max-width: 50em;
  background-color: #312B40;
  box-shadow: 5px 5px 15px 5px #0000009a;
}
#location .location__container .mailin_map {
  margin: 0 auto;
  width: 100%;
  height: 20em;
}
#location .location__container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em auto;
  padding: 1em;
  color: #ffffff;
  border: 1px solid #ffffff;
}
#location .location__container-info h3 {
  font-weight: 500;
  margin-bottom: 0.5em;
}
#location .location__container-info h6 {
  font-weight: 300;
  margin-bottom: 0.5em;
}
#location .location__container-info span {
  font: 300;
}

@media screen and (min-width: 1024px) {
  #location .location__container {
    display: flex;
    max-width: 80em;
  }
  #location .location__container .mailin_map {
    width: 65%;
    height: 25em;
    margin: 0;
  }
  #location .location__container .location__container-info {
    width: 30%;
    height: 23em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  background-image: url("../images/hojas_ppal.svg");
  background-repeat: no-repeat;
  background-size: 15em;
  background-position-x: 110%;
  background-position-y: 105%;
}
.footer .buttons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer .buttons__container .footer__button {
  display: grid;
  grid-template-areas: "title arrow" "description description";
  width: 90%;
  max-width: 30em;
  padding: 1.5em;
  margin-bottom: 1em;
  color: #ffffff;
  background-color: #000603;
  text-align: start;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}
.footer .buttons__container .footer__button-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: 500;
}
.footer .buttons__container .footer__button-arrow {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: arrow;
  justify-self: center;
  align-self: flex-start;
  font-size: 1.5em;
}
.footer .buttons__container .footer__button-description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  font-size: 0.8em;
  font-weight: 300;
}
.footer .buttons__container .footer__button:nth-of-type(1):hover {
  background-color: #00140a;
}
.footer .buttons__container .footer__button:nth-of-type(2):hover {
  background-color: #0a0116;
}
.footer .footer__container {
  position: relative;
  margin-top: 3em;
  width: 100%;
  padding: 0 2em;
}
.footer .footer__container .contact {
  color: #000603;
}
.footer .footer__container .contact__title {
  font-weight: 600;
  margin-bottom: 0.8em;
}
.footer .footer__container .contact__info {
  display: block;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 0.2em;
}
.footer .footer__container .social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.footer .footer__container .social_media-title {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #707070;
}
.footer .footer__container .social_media-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 50%;
}
.footer .footer__container .social_media-container a {
  color: #000603;
}
.footer .footer__container .social_media-container a i {
  font-size: 3em;
}
.footer .rights {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  color: #000603;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .footer .footer__container {
    padding: 0 4em;
  }
}
@media screen and (min-width: 425px) {
  .footer {
    background-size: 18em;
    background-position: 105% 110%;
  }
}
@media screen and (min-width: 597px) {
  .footer {
    background-size: 18em;
    background-position: 105% 110%;
  }
  .footer .footer__container {
    padding: 0 9.3em;
  }
  .footer .footer__container .social_media .social_media-container {
    max-width: 15em;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-position: 105% 120%;
  }
  .footer .buttons__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 0.1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer .buttons__container .footer__button {
    width: 100%;
    max-width: 23em;
    height: 9em;
  }
  .footer .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60em;
    padding: 0 2em;
  }
  .footer .footer__container .social_media {
    width: 13em;
    margin: 0;
    justify-self: flex-end;
  }
  .footer .footer__container .social_media .social_media-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    background-size: 25em;
    background-position-y: 132%;
  }
  .footer .buttons__container .footer__button {
    max-width: 35em;
    height: 12em;
  }
  .footer .buttons__container .footer__button-title {
    font-size: 1.2em;
  }
  .footer .buttons__container .footer__button-description {
    font-size: 1.2em;
  }
  .footer .rights {
    margin-top: 1em;
  }
}