@charset "UTF-8";
/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Colores*/
/*Fuentes*/
/*Tamaños*/
/*Provicionales*/
/*Generales*/
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #b3b1b1;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

body {
  position: relative;
  overflow-x: hidden;
}

.loadgif {
  display: flex;
  width: 100px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, span, li, a, strike, input {
  font-family: "Rubik", "sans-serif";
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.4em;
}

input {
  font-size: 1.4em;
}

.lines__label {
  display: block;
  font-size: 1.3em;
  margin: 0 auto;
  width: fit-content;
  padding: 0.2em 0.5em;
  margin-bottom: 2.5em;
  color: #ffffff;
  background-color: #000603;
}

.modal {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  background-color: #000000de;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
.modal .productModal, .modal .distributorModal, .modal .wholesaleModal {
  z-index: 6;
  position: relative;
  margin: auto;
  width: 90%;
  height: fit-content;
  transform: translateY(-110%);
  transition: transform 1s ease;
}
.modal .productModal .close_button, .modal .distributorModal .close_button, .modal .wholesaleModal .close_button {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.modal .productModal {
  max-width: 35em;
  background-color: #ffffff;
}
.modal .productModal__image {
  width: 100%;
  height: fit-content;
}
.modal .productModal__image .loadgif {
  display: flex;
  transform: scale(0.3);
  margin: 0 auto;
}
.modal .productModal__image img {
  transform-origin: left bottom;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.modal .productModal__info {
  padding: 1.5em;
}
.modal .productModal__info-name {
  margin-bottom: 0.5em;
  font-weight: 500;
}
.modal .productModal__info-description {
  font-size: 1.6em;
  font-weight: 300;
}
.modal .productModal__info-size {
  margin-top: 1em;
}
.modal .productModal__info-prices {
  display: flex;
  margin-top: 2em;
}
.modal .productModal__info-prices .price-before {
  display: none;
  margin-right: 1em;
  color: #B82C2C;
}
.modal .productModal__info-prices .price-now {
  color: #35B82C;
}
.modal .productModal__info-buy {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.modal .productModal__info-buy span {
  margin-right: 1em;
  font-size: 2em;
}
.modal .productModal__info-buy .social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .productModal__info-buy .social_media a {
  color: #000603;
}
.modal .productModal__info-buy .social_media a i {
  font-size: 3em;
}
.modal .distributorModal, .modal .wholesaleModal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40em;
  height: 100%;
  padding: 6em 0 2em;
}
.modal .distributorModal .close_button, .modal .wholesaleModal .close_button {
  z-index: 2;
}
.modal .distributorModal .form__image, .modal .wholesaleModal .form__image {
  position: absolute;
  width: 20%;
}
.modal .distributorModal__title, .modal .wholesaleModal__title {
  z-index: 1;
  width: 90%;
  margin-bottom: 1em;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.modal .distributorModal iframe, .modal .wholesaleModal iframe {
  z-index: 1;
  width: 90%;
  height: 100%;
  max-width: 30em;
}
.modal .distributorModal iframe html, .modal .wholesaleModal iframe html {
  overflow: hidden;
}
.modal .distributorModal {
  background-color: #202A26;
}
.modal .distributorModal img:nth-of-type(2) {
  top: 0;
  left: 0;
}
.modal .distributorModal img:nth-of-type(3) {
  bottom: 0;
  right: 0;
  transform: rotatex(180deg) rotateY(180deg);
}
.modal .wholesaleModal {
  background-color: #312B40;
}
.modal .wholesaleModal .form__image {
  width: 50%;
}
.modal .wholesaleModal img:nth-of-type(2) {
  top: -3em;
  left: -3em;
  transform: rotatex(180deg) rotateY(180deg);
}
.modal .wholesaleModal img:nth-of-type(3) {
  bottom: -3em;
  right: -3em;
}
.modal .modal-visible {
  transform: translateY(0);
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 375px) {
  html {
    font-size: 64%;
  }
}
@media screen and (min-width: 425px) {
  html {
    font-size: 65%;
  }
}
@media screen and (min-width: 597px) {
  html {
    font-size: 66%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
  }

  .modal .productModal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 75em;
    height: fit-content;
    background-color: #ffffff;
  }
  .modal .productModal .close_button {
    left: 1em;
    z-index: 1;
  }
  .modal .productModal__image {
    width: 100%;
    height: 100%;
  }
  .modal .productModal__image img {
    width: 100%;
    height: 100%;
  }
  .modal .productModal__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    text-align: center;
  }
  .modal .productModal__info-description {
    font-size: 1.43em;
  }
  .modal .productModal__info-prices {
    justify-content: center;
  }
  .modal .productModal__info-buy {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 75%;
  }

  .modal .productModal .close_button, .modal .distributorModal .close_button, .modal .wholesaleModal .close_button {
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }
  .modal .productModal .close_button:hover, .modal .distributorModal .close_button:hover, .modal .wholesaleModal .close_button:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 80%;
  }
}
.header {
  position: relative;
  top: 0;
}
.header .hamburguer_button {
  z-index: 2;
  position: fixed;
  top: 3em;
  left: 1.5em;
  min-width: 5em;
  width: 10%;
  max-width: 15em;
  transition: 1s ease;
}
.header .mobile_menu {
  z-index: 1;
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffffd5;
  list-style: none;
  overflow-y: auto;
  transition: 1s ease;
}
.header .mobile_menu li {
  width: 80%;
  margin: 0.3em 0;
  font-size: 3em;
  text-align: center;
  color: #000603;
}
.header .mobile_menu li a {
  display: block;
  width: 100%;
  color: #000603;
  text-decoration: none;
}
.header .mobile_menu li .line_menu {
  display: none;
  list-style: none;
  width: 100%;
}
.header .mobile_menu li .line_menu li {
  width: 100%;
  padding-bottom: 0.5em;
  text-align: start;
  font-size: 0.7em;
  border-bottom: 1px solid #000603;
}
.header .show {
  top: 0;
}
.header .logo {
  z-index: 2;
  position: absolute;
  top: 2em;
  right: 1.5em;
  width: 30%;
  min-width: 10em;
  max-width: 20em;
}

@media screen and (min-width: 768px) {
  .header .hamburguer_button {
    display: none;
  }
  .header .mobile_menu {
    z-index: 3;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 2em;
    width: 80%;
    height: fit-content;
    max-width: 60em;
    margin: 0 auto;
    justify-content: space-between;
    list-style: none;
    transition: 0.5s ease;
  }
  .header .mobile_menu li {
    transition: 0.5s ease;
    margin: 0;
    font-size: 1em;
  }
  .header .mobile_menu li a {
    width: 100%;
    height: 100%;
    color: #000603;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 400;
  }
  .header .mobile_menu .line_li {
    font-size: 1.6em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .mobile_menu .active {
    background: #000603;
    color: #ffffff;
  }
  .header .mobile_menu .active a {
    color: #ffffff;
  }
}
@media screen and (min-width: 1024px) {
  .header .logo {
    max-width: 15em;
    right: 8em;
  }
  .header .mobile_menu li a {
    font-size: 1.8em;
  }
  .header .mobile_menu s .line_li {
    font-size: 1.8em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  background-image: url("../assets/hojas_ppal.svg");
  background-repeat: no-repeat;
  background-size: 15em;
  background-position-x: 110%;
  background-position-y: 105%;
}
.footer .buttons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer .buttons__container .footer__button {
  display: grid;
  grid-template-areas: "title arrow" "description description";
  width: 90%;
  max-width: 30em;
  padding: 1.5em;
  margin-bottom: 1em;
  color: #ffffff;
  background-color: #000603;
  text-align: start;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}
.footer .buttons__container .footer__button-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: 500;
}
.footer .buttons__container .footer__button-arrow {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: arrow;
  justify-self: center;
  align-self: flex-start;
  font-size: 1.5em;
}
.footer .buttons__container .footer__button-description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  font-size: 0.8em;
  font-weight: 300;
}
.footer .buttons__container .footer__button:nth-of-type(1):hover {
  background-color: #00140a;
}
.footer .buttons__container .footer__button:nth-of-type(2):hover {
  background-color: #0a0116;
}
.footer .footer__container {
  position: relative;
  margin-top: 3em;
  width: 100%;
  padding: 0 2em;
}
.footer .footer__container .contact {
  color: #000603;
}
.footer .footer__container .contact__title {
  font-weight: 600;
  margin-bottom: 0.8em;
}
.footer .footer__container .contact__info {
  display: block;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 0.2em;
}
.footer .footer__container .social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.footer .footer__container .social_media-title {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #707070;
}
.footer .footer__container .social_media-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 50%;
}
.footer .footer__container .social_media-container a {
  color: #000603;
}
.footer .footer__container .social_media-container a i {
  font-size: 3em;
}
.footer .rights {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  color: #000603;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .footer .footer__container {
    padding: 0 4em;
  }
}
@media screen and (min-width: 425px) {
  .footer {
    background-size: 18em;
    background-position: 105% 110%;
  }
}
@media screen and (min-width: 597px) {
  .footer {
    background-size: 18em;
    background-position: 105% 110%;
  }
  .footer .footer__container {
    padding: 0 9.3em;
  }
  .footer .footer__container .social_media .social_media-container {
    max-width: 15em;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-position: 105% 120%;
  }
  .footer .buttons__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 0.1em;
    width: fit-content;
  }
  .footer .buttons__container .footer__button {
    width: 100%;
    max-width: 23em;
    height: 9em;
  }
  .footer .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60em;
    padding: 0 2em;
  }
  .footer .footer__container .social_media {
    width: 13em;
    margin: 0;
    justify-self: flex-end;
  }
  .footer .footer__container .social_media .social_media-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    background-size: 25em;
    background-position-y: 132%;
  }
  .footer .buttons__container .footer__button {
    max-width: 35em;
    height: 12em;
  }
  .footer .buttons__container .footer__button-title {
    font-size: 1.2em;
  }
  .footer .buttons__container .footer__button-description {
    font-size: 1.2em;
  }
  .footer .rights {
    margin-top: 1em;
  }
}