.fadeWidth{
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeWidth;
    animation-name: fadeWidth;
}

@keyframes fadeWidth{
    from{
        width: 15em;
    }
    
    to{
        width: 25em;
    }

}
.fadeIn{
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }

}
.fadeInLeft{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft{
    from{
        transform: translateX(-100%) rotateY(180deg);
    }
    
    to{
        transform: translateX(0) rotateY(180deg);
    }

}
.fadeInRight{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@keyframes fadeInRight{
    from{
        transform: translateX(100%) rotateX(180deg);
        
    }
    
    to{
        transform: translateX(0) rotateX(180deg);
    }

}

@media screen and (min-width: 1024px) {
    .fadeWidth{
        -webkit-animation-duration: 1.1s;
        animation-duration: 1.1s;
    }
    @keyframes fadeWidth{
        from{
            width: 15em;
        }
        
        to{
            width: 21em;
        }
    
    }
}
