.fadeIn{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }

}
.fadeInLeft{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft{
    from{
        transform: translateX(-100%) rotateY(180deg);
    }
    
    to{
        transform: translateX(0) rotateY(180deg);
    }

}
.fadeInRight{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@keyframes fadeInRight{
    from{
        transform: translateX(100%) rotateX(180deg);
        
    }
    
    to{
        transform: translateX(0) rotateX(180deg);
    }

}

.fadeInScale{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInScale;
    animation-name: fadeInScale;
}

@keyframes fadeInScale{
    from{
        transform: scale(.5);
    }
    
    to{
        transform: scale(1);
    }

}
