/*Variables*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Colores*/

$Color-blanco:  #ffffff;
$Color-blanco-variacion:  #F1FBF3;
$Color-rojo-intenso:  #B82C2C;
$Color-rojo:  #ec5248;
$Color-negro:  #000603;
$Color-verde:  #10312A;
$Color-verde-oscuro:  #202A26;
$Color-verde-intenso:  #35B82C;
$Color-verde-claro:  #72EF8B;
$Color-gris:  #707070;
$Color-gris-claro:  #b3b1b1;
$Color-morado-claro:  #583760;
$Color-morado:  #312B40;


/*Fuentes*/


$fuente1: 'Lora','sans-serif';
$fuente2: 'Rubik','sans-serif';


/*Tamaños*/

$break-mobile-M: 375px;
$break-mobile-L: 425px;
$break-mobile-tablet: 597px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop-S: 1144px;
$break-laptop-M: 1280px;
$break-laptop-L: 1440px;


/*Provicionales*/


/*Generales*/

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    position: relative;
    overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6,p,span,li,a,strike{
    font-family: $fuente2;
}

h1{
    font-size: 2.3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size: 1.7em;
}
h5{
    font-size: 1.6em;
}
h6{
    font-size: 1.4em;
}

.lines__label{
    display: block;
    font-size: 1.3em;
    margin: 0 auto;
    width: fit-content;
    padding: .2em .5em;
    margin-bottom: 2.5em;
    color: $Color-blanco;
    background-color: $Color-negro;
}

.modal{
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;      
    align-items: center; 
    padding: 1em 0;
    width: 100%;
    background-color: #000000de;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    .offerModal,.distributorModal,.wholesaleModal{
        z-index: 6;
        position: relative;
        margin: auto;
        width: 90%;
        height: fit-content;
        transform: translateY(-110%);
        transition: transform 1s ease;
        .close_button{
            position: absolute;
            top: 1em;
            right: 1em;
            cursor: pointer;
        }
    }
    .offerModal{
        max-width: 35em;
        background-color: $Color-blanco;
        &__image{
            width: 100%;
            height: fit-content;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__info{
            padding: 1.5em;
            &-name{
                margin-bottom: .5em;
                font-weight: 500;
            }
            &-description{
                font-size: 1.6em;
                font-weight: 300;
            }
            &-prices{
                display: flex;
                margin-top: 2em;
                .price-before{
                    margin-right: 1em;
                    color: $Color-rojo-intenso;
                }
                .price-now{
                    color: $Color-verde-intenso;
                }
            }
            &-buy{
                display: flex;
                align-items: center;
                margin-top: 2em;
                span{
                    margin-right: 1em;
                    font-size: 2em;
                }
                .social_media{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        color: $Color-negro;
                        i{
                            font-size: 3em;
                        }
                    }

                }
            }
        }
    }
    .distributorModal,.wholesaleModal{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40em;
        height: 100%;
        padding: 6em 0 2em;
        .close_button{
            z-index: 2;
        }
        .form__image{
            position: absolute;
            width: 20%;
        }
        &__title{
            z-index: 1;
            width: 90%;
            margin-bottom: 1em;
            color: $Color-blanco;
            font-weight: 500;
            text-align: center;
        }
        iframe{
            z-index: 1;
            width: 90%;
            height: 100%;
            max-width: 30em;
            html{
                overflow: hidden;
            }
            
        }
        
    }
    .distributorModal{
        background-color: $Color-verde-oscuro;
        img:nth-of-type(2){
            top: 0;    
            left: 0;
            
        }
        img:nth-of-type(3){
            bottom: 0;
            right: 0;
            transform: rotatex(180deg) rotateY(180deg);
        }
    }
    .wholesaleModal{
        background-color: $Color-morado;
        .form__image{
            width: 50%;
        }
        img:nth-of-type(2){
            top: -3em;    
            left: -3em;
            transform: rotatex(180deg) rotateY(180deg);
            
        }
        img:nth-of-type(3){
            bottom: -3em;
            right: -3em;
        }
    }
    .modal-visible{
        transform: translateY(0);
    }
}
.is-visible{
    visibility: visible;
    opacity: 1;
}


@media screen and (min-width: $break-mobile-M) {
    html{
        font-size: 64%;
    }
    .lines__label{
        display: none
    }   
}
@media screen and (min-width: $break-mobile-L) {
    html{
        font-size: 65%;
    }
}
@media screen and (min-width: $break-mobile-tablet) {
    html{
        font-size: 66%;
    }
}
@media screen and (min-width: $break-tablet) {
    html{
        font-size: 70%;
    }
    .modal{ 
        .offerModal{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            max-width: 75em;
            height: fit-content;
            background-color: $Color-blanco;
            .close_button{
                left: 1em;
                z-index: 1;
            }
            &__image{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }

            }
            &__info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: fit-content;
                text-align: center;
                &-description{
                    font-size: 1.43em;
                }
                &-prices{
                    justify-content: center;
                }
                &-buy{
                    justify-content: center;
                    
                }
            }
        }
    }
}
@media screen and (min-width: $break-laptop) {
    html{
        font-size: 75%;
    }
    .modal{
        .offerModal,.distributorModal,.wholesaleModal{
            .close_button{
                opacity: .8;
                transition: opacity .5s ease;             
            }
            .close_button:hover{
                opacity: 1;
            }
        }
    }
}
@media screen and (min-width: $break-laptop-L) {
    html{
        font-size: 80%;
    }
}
@import "components/header";

.header{
    display: flex;
    justify-content: center;
    
    .logo{
        top: 0;
        z-index: 0;
        position: relative;        
    }
}

#notice{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .3em 0;
    background-color: $Color-verde-intenso;
    color: $Color-blanco;
    font-size: 1.2em;
    font-weight: 400;
}
#line{
    width: 100%;
    .line_title{
        display: block;
        font-size: 1.3em;
        margin: 2em auto 0;
        width: fit-content;
        padding: .2em .5em;
        margin-bottom: 2.5em;
        color: $Color-blanco;
        background-color: $Color-negro;
    }
    .line__menu{
        display: none;
    }
}
.catalog{
    margin-bottom: 2em;
    .lines__image{
        display: none;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .product,.offer{
            width: 80%;
            max-width: 25em;
            height: 28em;
            margin-bottom: 3em;
            box-shadow: 0px 2px 5px #0000009a;
            &__image{
                position: relative;
                width: 100%;
                height: 70%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .8s ease;

                }
                .view_more{
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 15%;
                    font-size: 1.4em;
                    font-weight: 600;
                    background-color: #35b82ce7;               
                    color: $Color-blanco;
                    border: none;
                    cursor: pointer;
                    transition: all .3s ease;
                }
                .view_more:hover{
                    background-color: #16940de7;
                }
            }
            &__info{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 1.5em ;
                width: 100%;
                height: 30%;
                background-color: $Color-blanco;
                &-description,&-link{
                    display: none;
                }
                &-name{
                    font-family: $fuente1;
                    font-size: 1.6em;
                }
                &-price{
                    margin-top: .5em;
                    font-size: 1.6em;
                    font-weight: 600;
                    color: $Color-verde-intenso;
                }
            }
        }
        
        .product{
            &__info{
                &-price{
                    font-family: $fuente1;
                    font-size: 1.6em;
                    font-weight: 600;
                    color: $Color-verde-intenso;
                }
            }
        }
        .offer{
            &__image{
                .offer__discount{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: .7em;
                    font-size:1.3em;
                    font-weight: 500;
                    background-color: $Color-rojo-intenso;
                    color: $Color-blanco;
                }
            }
            &__info{
                .offer__prices{
                    display: flex;
                    margin-top: .5em;
                    &-before{
                        strike{
                            font-family: $fuente1;
                        }
                        font-size: 1.6em;
                        font-weight: 600;
                        color: $Color-rojo;
                    }
                    &-new{
                        font-family: $fuente1;
                        margin-left: 1em;
                        font-size: 1.6em;
                        font-weight: 600;
                        color: $Color-verde-intenso;
                    }
                }
            }
        }
        
    }
}


@import "components/footer";

@media screen and (min-width: $break-mobile-tablet) {
    .catalog{
        &__container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            width: 100%;
            max-width: 55em;
            margin: 0 auto;
            .product,.offer{
                max-width: 20em;
                height: 23em;
            }
            
        }
    }
}

@media screen and (min-width: $break-tablet) {
    .header{
        .mobile_menu{
            position: absolute;
            top: 4em;
        }
        .logo{
            position: absolute;
            max-width: 10em;
            top: 3.5em;
            right: 2.2em;
        }
    }
    #line{
        .line_title{
            margin-top: 7em;
        }
    }
    .catalog{
        &__container{
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            max-width: 70em;
            .offer{
                align-self: flex-start;
                &__image{
                    .offer__discount{
                        padding: .4em;
                    }
                }
            }
            .product,.offer{
                max-width: 20em;
                height: 25em;
            }
        }
    }
}

@media screen and (min-width: $break-laptop) {
    .header{
        .logo{
            max-width: 13em;
        }
    }
    .catalog{
        &__container{
            max-width: 100em;
            grid-template-columns: repeat(5,1fr);
            .product,.offer{
                max-width: 25em;
                height: 18em;
                &__image{
                    .view_more{
                        opacity: 0;
                        display: block;
                        height: 20%;
                        font-size: 1.2em;
                    }
                }
                &__info{
                    z-index: 2;
                }
            }
            .product:hover,.offer:hover{
                .view_more{
                    opacity: 1;
                }
                .product__image,.offer__image{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .product{
                &__info{
                    padding: 1em;
                    
                    &-name{
                        font-size: 1.3em;
                    }
                    &-price{
                        font-size: 1.3em;
                    }
                }
            }
            .offer{
                &__image{
                    .offer__discount{
                        font-size: 1em;
                    }
                }
                &__info{
                    padding: 1em;
                    &-name{
                        font-size: 1.3em;
                    }
                    .offer__prices{
                        &-before,&-new{
                            font-size: 1.3em;

                        } 
                    }
                }
            }

        }
    }
}
@media screen and (min-width: $break-laptop-M) {
    .catalog{
        .offer{
            &__image{
                .offer__discount{
                    font-size: 1.1em;
                    padding: .5em;
                }
            }
        }
    }
}