/*Variables*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Colores*/

$Color-blanco:  #ffffff;
$Color-blanco-variacion:  #F1FBF3;
$Color-rojo-intenso:  #B82C2C;
$Color-rojo:  #ec5248;
$Color-negro:  #000603;
$Color-verde:  #10312A;
$Color-verde-oscuro:  #202A26;
$Color-verde-intenso:  #35B82C;
$Color-verde-claro:  #72EF8B;
$Color-gris:  #707070;
$Color-gris-claro:  #b3b1b1;
$Color-morado-claro:  #583760;
$Color-morado:  #312B40;


/*Fuentes*/


$fuente1: 'Lora','sans-serif';
$fuente2: 'Rubik','sans-serif';


/*Tamaños*/

$break-mobile-M: 375px;
$break-mobile-L: 425px;
$break-mobile-tablet: 597px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop-S: 1144px;
$break-laptop-M: 1280px;
$break-laptop-L: 1440px;


.header{
    display: flex;
    justify-content: center;
    
    .logo{
        top: 0;
        z-index: 0;
        position: relative;        
    }
}

#notice{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .3em 0;
    background-color: $Color-verde-intenso;
    color: $Color-blanco;
    font-size: 1.2em;
    font-weight: 400;
}
#line{
    width: 100%;
    .line_title{
        display: block;
        font-size: 1.3em;
        margin: 2em auto 0;
        width: fit-content;
        padding: .2em .5em;
        margin-bottom: 2.5em;
        color: $Color-blanco;
        background-color: $Color-negro;
    }
    .line__menu{
        display: none;
    }
}
.catalog{
    margin-bottom: 2em;
    .lines__image{
        display: none;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .product{
            width: 85%;
            max-width: 25em;
            height: fit-content;
            margin-bottom: 3em;
            background-color: $Color-blanco;
            border: 0.5px solid $Color-gris-claro;
            overflow: hidden;
            &__image{
                position: relative;
                width: 100%;
                height: fit-content;
                img{
                    width: 100%;
                    height: 100%;
                    transition: transform .8s ease;
                    -webkit-transition: transform .8s ease;
                    object-fit: cover;
                    backface-visibility: hidden;

                }
                .view_more{
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: fit-content;
                    padding: .7em 0;
                    font-size: 1.4em;
                    font-weight: 600;
                    background-color: #35b82ce7;               
                    color: $Color-blanco;
                    border: none;
                    cursor: pointer;
                    transition: all .3s ease;
                }
                .view_more:hover{
                    background-color: #16940de7;
                }
                .product__discount{
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: .7em;
                    font-size:1.3em;
                    font-weight: 500;
                    background-color: $Color-rojo-intenso;
                    color: $Color-blanco;
                }
            }
            &__info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.5em;
                height: 10em;
                width: 100%;
                background-color: $Color-blanco;
                &-description,&-link{
                    display: none;
                }
                &-name{
                    font-family: $fuente1;
                    font-size: 1.6em;
                }
                .product__prices{
                    display: flex;
                    margin-top: .5em;
                    &-before{
                        display: none;
                        margin-right: 1em;
                        font-size: 1.6em;
                        font-weight: 600;
                        color: $Color-rojo;
                        strike{
                            font-family: $fuente1;
                        }
                    }
                    &-new{
                        font-family: $fuente1;
                        font-size: 1.6em;
                        font-weight: 600;
                        color: $Color-verde-intenso;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-mobile-M) {
    #line{
        .line_title{
            font-size: 1.7em;            
        }
    }
    .catalog{
        &__container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            width: 100%;
            max-width: 55em;
            margin: 0 auto;
            .product{
                max-width: 30em;
                &__info{
                    height: 12em;
                }
            }
            
        }
    }
}

@media screen and (min-width: $break-tablet) {
    .header{
        .mobile_menu{
            position: absolute;
            top: 4em;
        }
        .logo{
            position: absolute;
            max-width: 10em;
            top: 5.2em;
            right: 2.2em;
        }
    }
    #line{
        .line_title{

            margin-top: 7em;
        }
    }
    .catalog{
        &__container{
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            max-width: 70em;
            .product{
                &__image{
                    .product__discount{
                        padding: .6em;
                    }
                }
            }
            .product{
                max-width: 20em;
                
            }
        }
    }
}

@media screen and (min-width: $break-laptop) {
    .header{
        .logo{
            max-width: 13em;
            top: 4em;
        }
    }
    .catalog{
        &__container{
            max-width: 100em;
            grid-template-columns: repeat(5,1fr);
            .product{
                max-width: 25em;
                &__image{
                    .view_more{
                        opacity: 0;
                        display: block;
                    }
                }
                &__info{
                    height: 8em;
                    z-index: 2;
                }
            }
            .product:hover{
                .view_more{
                    opacity: 1;
                }
                .product__image{
                    img{
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                    }
                }
            }
            .product{
                &__image{
                    .product__discount{
                        font-size: 1em;
                    }
                }
                &__info{
                    padding: 1em;
                    
                    &-name{
                        font-size: 1.3em;
                    }
                    .product__prices{
                        &-before,&-new{
                            font-size: 1.5em;
                        } 
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $break-laptop-M) {
    .header{
        .logo{
            top: 3.5em;
        }
    }
    .catalog{
        .product{
            &__image{
                .product__discount{
                    font-size: 1.2em;
                    padding: .8em;
                }
            }
        }
    }
}