/*Variables*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Colores*/

$Color-blanco:  #ffffff;
$Color-blanco-variacion:  #F1FBF3;
$Color-rojo-intenso:  #B82C2C;
$Color-rojo:  #ec5248;
$Color-negro:  #000603;
$Color-verde:  #10312A;
$Color-verde-intenso:  #35B82C;
$Color-verde-claro:  #72EF8B;
$Color-gris:  #707070;
$Color-morado-claro:  #583760;
$Color-morado:  #312B40;


/*Fuentes*/


$fuente1: 'Lora','sans-serif';
$fuente2: 'Rubik','sans-serif';


/*Tamaños*/

$break-mobile-M: 375px;
$break-mobile-L: 425px;
$break-mobile-tablet: 597px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop-S: 1144px;
$break-laptop-M: 1280px;
$break-laptop-L: 1440px;


/*Provicionales*/


/*Generales*/

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6,p,span,li,a{
    font-family: $fuente2;
}

h1{
    font-size: 2.3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size: 1.7em;
}
h5{
    font-size: 1.6em;
}
h6{
    font-size: 1.4em;
}

.lines__label{
    display: block;
    font-size: 1.3em;
    margin: 0 auto;
    width: fit-content;
    padding: .2em .5em;
    margin-bottom: 2.5em;
    color: $Color-blanco;
    background-color: $Color-negro;
}



//Importación de componentes

@import "components/header";
@import "components/hero";
@import "components/sales";
@import "components/lines";
@import "components/story";
@import "components/location";
@import "components/footer";








