#hero
    position: relative
    width: 100%
    height: fit-content
    img
        width: 100%
        object-fit: cover
        max-height: 100vh


@media screen and (min-width: $break-tablet) 
    #hero
        background-attachment: fixed
    

@media screen and (min-width: $break-laptop) 
    
