#sales
    margin: 3em 3em 0
    padding: 2em 0
    border-bottom: 1px solid $Color-gris-claro
    background-color: $Color-blanco
    
    h5
        color: $Color-negro
        font-weight: 300
        text-align: center