.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    &__button{
        display: grid;
        grid-template-areas: "title arrow"
                    "description description";
        width: 90%;
        max-width: 30em;
        padding: 1.5em;
        margin-bottom: 1em;
        color: $Color-blanco;
        background-color: $Color-negro;
        text-align: start;
        border: none;
        &-title{
            grid-area: title;
            margin-bottom: 1em;
            font-size: 1.1em;
            font-weight: 500;
        }
        &-arrow{
            grid-area: arrow;
            justify-self: center;
            align-self: flex-start;
        }
        &-description{
            grid-area: description;
            font-size: .8em;
            font-weight: 300;
        }
        
    }
    &__container{
        position: relative;
        margin-top: 3em;
        width: 100%;
        padding: 0 2em;
        background-image: url("../images/hojas_ppal.svg");
        background-repeat: no-repeat;
        background-size: 15em;
        background-position-x: 120%;
        background-position-y: 120%;

        .contact{
            color: $Color-negro;
            &__title{
                font-weight: 600;
                margin-bottom: .8em;
            }
            &__info{
                font-weight: 300;
                margin-bottom: .2em;
            }
        }
        .social_media{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3em;
            &-title{
                margin-bottom: 1em;
                padding-bottom: .5em;
                border-bottom: 2px solid $Color-gris;
            }
            &-container{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.5em;
                width: 50%;
                a{
                    color: $Color-negro;
                    i{
                        font-size: 3em;
                    }
                }
            }
        }
        .rights{
            display: inline-block;
            width: 100%;
            margin-bottom: 1em;
            color: $Color-negro;
            font-size: 1.3em;
            font-weight: 500;
            text-align: center;
        }

    }
}