.header{
    position: relative;
    top: 0;
    .hamburguer_button{
        z-index: 2;
        position: fixed;
        top: 3em;
        left: 1.5em;
        min-width: 5em;
        width: 10%;
        max-width: 15em;
        transition: 1s ease;
        
    }
    .mobile_menu{
        z-index: 1;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffffd5;
        list-style: none;
        overflow-y: auto;
        transition: 1s ease;
        
        li{
            width: 80%;
            margin: .3em 0;
            font-size: 3em;
            text-align:center;
            color: $Color-negro;
            a{
                display: block;
                width: 100%;
                color: $Color-negro;
                text-decoration: none;
            }
            .line_menu{
                display: none;
                list-style: none;
                width: 100%;
                li{
                    width: 100%;
                    padding-bottom: .5em;
                    text-align: start;
                    font-size: .7em;
                    border-bottom: 1px solid $Color-negro;
                }
            }
        }
    }
    
    .show{
        top: 0;
    }

    .logo{
        z-index: 2;
        position: absolute;
        top: 2em;
        right: 1.5em;
        width: 30%;
        min-width: 10em;
        max-width: 20em;
    }
}

@media screen and (min-width: $break-tablet) {
    .header{
        .hamburguer_button{
            display: none;
        }
        .mobile_menu{
            z-index: 3;
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 2em;
            width: 80%;
            height: fit-content;
            max-width: 60em;
            margin: 0 auto;
            justify-content: space-between;
            list-style: none;
            transition: .5s ease;
            li{
                transition: .5s ease;
                margin: 0;
                font-size: 1em;
                a{
                    width: 100%;
                    height: 100%;
                    color: $Color-negro;
                    text-decoration: none;
                    font-size: 1.6em;
                    font-weight: 400;
                }
            }
            .line_li{
                font-size: 1.6em;
                padding-top: 0;
                padding-bottom: 0;
            }
            .active{
                background: $Color-negro;
                color: $Color-blanco;
                a{
                    color: $Color-blanco;
                }
            }
        }
    }
}
@media screen and (min-width: $break-laptop) {
    .header{
        .logo{
            max-width: 15em;
            right: 8em;
        }
        .mobile_menu{
            li{
                a{
                    font-size: 1.8em;
                }
            }s
            .line_li{
                font-size: 1.8em;
            }

        }
    }
}