#hero{
    width:100%;
    height: 100vh;
    background-image: url("../images/paisaje.jpg");
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: fixed;
}

@media screen and (min-width: $break-laptop) {
    #hero{
        background-position-y: -25em;

    }
}