#lines{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    .lines__image{
        position: absolute;
        width: 10%;
        max-width: 10em;
    }
    .lines__image:nth-last-of-type(1){
        top: -1%;
        left: 0;
    }
    .lines__image:nth-last-of-type(2){
        transform: rotateY(180deg);
        top: 50%;
        right: 0;
    }
    .lines__title{
        margin-bottom: .5em;
        color: $Color-negro;
        font-weight: 500;
        text-align: center;
    }
    .catalog{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 70em;
        .line{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15em;
            height: 30em;
            margin-bottom: 3.5em;
            padding: 1.5em;
            background-color: #000603a9;
            text-decoration: none;

            &__image{
                z-index: -1;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &__container{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border: 1px solid $Color-blanco;
                text-decoration: none;
                &-name{
                    font-weight: 500;
                    color: $Color-blanco;
                    font-style: italic;
                    font-family: $fuente1;
                }
                &-button{
                    position: absolute;
                    bottom: 10%;
                    padding: 1em;
                    font-size: 1.3em;
                    font-weight: 500;
                    background-color: $Color-verde;
                    color: $Color-verde-claro;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: $break-tablet) {
    #lines{
        padding-top: 5em;
        .lines__image:nth-last-of-type(1){
            top: -10%;
        }
        .lines__image:nth-last-of-type(2){
            top: 30%;
        }
        .lines__title{
            margin-bottom: 2em;
        }
        .catalog{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: $break-laptop) {
    #lines{
        .lines__image{
            max-width: 7em;
        }
        .catalog{
            grid-template-columns: repeat(3, 1fr);
            max-width: 80em;
            .line{
                overflow: hidden;
                width: 15em;
                height: 26em;
                .line__image{
                    transition: transform .8s ease;
                }
            }
            .line:hover{
                .line__image{
                    transform: scale(1.05);
                }
            }
        }
    }
}