#location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 6em 3em;
    .location__container{
        width: 100%;
        max-width: 50em;
        background-color: $Color-morado;
        box-shadow: 5px 5px 15px 5px #0000009a;
        .mailin_map{
            margin: 0 auto;
            width: 100%;
            height: 20em;
        }
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: fit-content;  
            margin: 1em auto;
            padding: 1em;
            color: $Color-blanco;
            border: 1px solid $Color-blanco;    
            h3{
                font-weight: 500;
                margin-bottom: .5em;
            }
            h6{
                font-weight: 300;
                margin-bottom: .5em;
            }
            span{
                font: 300;
            }
        }
    }
}
@media screen and (min-width: $break-laptop) {
    #location{
        .location__container{
            display: flex;
            max-width: 80em;
            .mailin_map{
                width: 65%;
                height: 25em;
                margin: 0;
            }
            .location__container-info{
                width: 30%;
                height: 23em;
            }
        }
    }   
}