#sales{
    padding: 2em 0;
    background-color: $Color-blanco-variacion;
    .glider{
        position: relative;
        .glider__left,.glider__right{
            z-index: 1;
            position: absolute;
            top: 50%;
            background: none;
            border: none;
            font-size: 2.5em;
            color: $Color-negro;
            cursor: pointer;

        }
        .glider__left{
            left: 5%;

        }
        .glider__right{
            right: 5%;

        }
        &-dots{
            margin-top: 1em;
        }
        &-dot{
            height: 0.5em;
            border-radius: 0;
            background-color: $Color-gris;
        }
        &-dot.active{
            background-color: $Color-negro;
        }
        .glider__list{
            /*Perspectiva*/
            .left-1,.left-2,.left-3,.left-4,.right-1,.right-2,.right-3,.right-4{
                opacity: .9;
            }
            .left-1{
                transform: translateX(25%) scale(.8);
            }
            .right-1{
                transform: translateX(-25%) scale(.8);
            }
            /*Fin perspectiva*/
            .offer{
                width: 100%;
                transition: .3s ease;
                .offer__image{
                    position: relative;
                    width: 80%;    
                    max-width: 30em;
                    height: auto;
                    margin: 0 auto;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    .offer__discount{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: fit-content;
                        padding: .7em;
                        font-size:1.3em;
                        background-color: $Color-rojo-intenso;
                        color: $Color-blanco;
                    }
                    .offer__name{
                        margin-top: .8em;
                        font-family: $fuente1;
                        font-weight: 500;
    
                    }
                    .offer__prices{
                        display: flex;
                        margin: .5em 0 1em;
                        h6{
                            font-weight: 500;
                        }
                        &-before{
                            color: $Color-rojo;
                        }
                        &-new{
                            margin-left: 1em;
                            color: $Color-verde-intenso;
                        }
                    }

                }
                
                
                
            }
        }
    
    }
}
@media screen and (min-width: $break-mobile-L) {
    #sales{
        .glider{
            .glider__list{
                .left-1{
                    transform: translateX(30%) scale(.8);
                }
                .right-1{
                    transform: translateX(-30%) scale(.8);
    
                }
            }
        }
    }
}
@media screen and (min-width: 472px) {
    #sales{
        .glider{
            .glider__list{
                .offer{
                }
                .left-1{
                    transform: translateX(40%) scale(.8);
                }
                .right-1{
                    transform: translateX(-40%) scale(.8);
                    
                }
            }
        }
    }
}
@media screen and (min-width: 550px) {
    #sales{
        .glider{
            max-width: 76.8em;
            .glider__list{
                .left-1{
                    transform: translateX(48%) scale(.8);
                }
                .right-1{
                    transform: translateX(-48%) scale(.8);
                    
                }
                .left-2{
                    transform: translateX(100%) scale(.7);
                }
                .right-2{
                    transform: translateX(-100%) scale(.7);  
                }
            }
        }
    }
}
@media screen and (min-width: $break-mobile-tablet) {
    #sales{
        .glider{
            .glider__list{
                .offer{
                    transition: .5s ease;
                }
                .left-1{
                    transform: translateX(53%) scale(.8);
                }
                .right-1{
                    transform: translateX(-53%) scale(.8);
                    
                }
                .left-2{
                    transform: translateX(112%) scale(.7);
                }
                .right-2{
                    transform: translateX(-112%) scale(.7);  
                }
                .left-3{
                    transform: translateX(130%) scale(.6);
                }
                .right-3{
                    transform: translateX(-130%) scale(.6);  
                }
            }
        }
    }
}
@media screen and (min-width: 720px) {
    #sales{
        padding: 7em 0;
        .glider{
            .glider__list{
                
                .offer{
                    transition: .6s ease;
                }
                .left-1{
                    transform: translateX(60%) scale(.8);
                }
                .right-1{
                    transform: translateX(-60%) scale(.8);
                    
                }
                .left-2{
                    transform: translateX(126%) scale(.7);
                }
                .right-2{
                    transform: translateX(-126%) scale(.7);  
                }
                .left-3{
                    transform: translateX(195%) scale(.6);
                }
                .right-3{
                    transform: translateX(-195%) scale(.6);  
                }
                .left-4{
                    transform: translateX(225%) scale(.5);
                }
                .right-4{
                    transform: translateX(-225%) scale(.5);  
                }
            }
        }
    }
}
// @media screen and (min-width: $break-tablet) {
//     #sales{
//         .glider{
//             width: 100%;
//             max-width: 90em;
//             .glider__list{
//                 .offer{
//                     .offer__image{
//                     }
//                 }
//                 .left-1{
//                     transform: translateX(65%) scale(.7);
//                 }
//                 .right-1{
//                     transform: translateX(-65%) scale(.7);
//                 }
//                 .left-2{
//                     transform: translateX(139%) scale(.5);
//                 }
//                 .right-2{
//                     transform: translateX(-139%) scale(.5);
//                 }
//                 .left-3{
//                     transform: translateX(220%) scale(.4);
//                 }
//                 .right-3{
//                     transform: translateX(-220%) scale(.4);
//                 }
                
//             }
//         }
//     }
// }
// @media screen and (min-width: 850px) {
//     #sales{
//         .glider{
//             .glider__list{
//                 .left-1{
//                     transform: translateX(73%) scale(.7);
//                 }
//                 .right-1{
//                     transform: translateX(-73%) scale(.7);
//                 }
//                 // .left-2{
//                 //     transform: translateX(153.5%) scale(.5);
//                 // }
//                 // .right-2{
//                 //     transform: translateX(-153.5%) scale(.5);
//                 // }
//             }
//         }
//     }
// }
@media screen and (min-width: $break-laptop) {
    #sales{
        display: flex;
        align-items: center;
        height: 100vh;
        .glider{
            .glider__list{
                .offer{
                    .offer__image{
                        max-width: 33em;
                    }
                }
            }
        }
    }
}
// @media screen and (min-width: $break-laptop-M) {
//     #sales{
//         .glider{
//             max-width: 150em;
//             .glider__list{
//                 .offer{
//                     .offer__image{
//                         width: 50%;
//                         max-width: 40em;
//                     }
//                 }
                
//             }
//         }
//     }
// }