#sales{
    margin: 3em 3em 0;
    padding: 2em 0;
    border-bottom: 1px solid $Color-gris-claro;
    background-color: $Color-blanco;
    // box-shadow: 0px 3px 5px -2px $Color-gris-claro;
    .glider{
        position: relative;
        .glider__left,.glider__right{
            display: none;
        }
        &-dots{
            margin-top: 1em;
        }
        &-dot{
            height: 0.5em;
            border-radius: 0;
            background-color: $Color-gris;
        }
        &-dot.active{
            background-color: $Color-negro;
        }
        .glider__list{

            .product{
                width: 100%;
                transition: .3s ease;
                .product__info{
                    padding: 1em 0;
                    width: 80%;    
                    max-width: 30em;
                    margin: 0 auto;
                    .product__name{
                        margin-top: .8em;
                        font-family: $fuente1;
                        font-weight: 500;                   
                    }
                    .product__prices{
                        display: flex;
                        margin: .5em 0 1em;
                        h6{
                            font-weight: 500;
                        }
                        &-before{
                            display: none;
                            color: $Color-rojo;
                            margin-right: 1em;
                        }
                        &-new{
                            color: $Color-verde-intenso;
                        }
                    }
                }
                .product__image{
                    position: relative;
                    width: 80%;    
                    max-width: 30em;
                    height: fit-content;
                    margin: 0 auto;
                    background-color: $Color-blanco;
                    img{    
                        width: 100%;
                        cursor: pointer;
                    }
                    img:hover{
                        #sales.glider.glider__list.product-product__image.img{
                            opacity: .5;
                        }
                    }
                    .product__discount{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: fit-content;
                        padding: .7em;
                        font-size: 1.8em;
                        background-color: $Color-rojo-intenso;
                        color: $Color-blanco;
                    }
                    

                }
                
                
                
            }
        }
    
    }
}
@media screen and (min-width: $break-mobile-L) {

}

@media screen and (min-width: 550px) {
    #sales{
        .glider{
            margin: 0 5em;
        }
    }
}
@media screen and (min-width: $break-mobile-tablet) {
    #sales{
        .glider{
            .glider__list{
                .product{
                    transition: .5s ease;
                }
            }
        }
    }
}
// @media screen and (min-width: 720px) {
//     #sales{
//         padding: 3em 0;
//         .glider{
//             .glider__list{      
//                 .product{
//                     transition: .6s ease;
//                 }
//             }
//         }
//     }
// }
@media screen and (min-width: $break-tablet) {
    #sales{
        .glider{   
            .glider__list{
                .product{
                    .product__image{
                        .product__discount{
                            font-size: 1.5em;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: $break-laptop) {
    #sales{
        width: 100%;
        margin: 0 auto;
        .glider{
            .glider__left,.glider__right{
                z-index: 1;
                position: absolute;
                top: 50%;
                display: block;
                background: none;
                border: none;
                font-size: 2em;
                padding: .2em;
                color: $Color-blanco;
                background-color: #00060393;
                cursor: pointer;
                transition: background .5s ease;
            }
            .glider__left:hover,.glider__right:hover{
                background-color: #000603;
            }
            .glider__left{
                left: 0;
    
            }
            .glider__right{
                right: 0;
    
            }
            .glider__list{
                .product{
                    .product__image{
                        max-width: 25em;
                        overflow: hidden;
                        transition: opacity 1s;
                        img{
                            transition: transform .5s ease;
                        }
                        img:hover{
                            transform: scale(1.1);
                        }
                        .product__discount{
                            font-size: 1.3em;
                        }
                    }
                    .product__info{
                        max-width: 25em;
                        transition: opacity 1s;

                    }
                }
                .left-1, .left-2{
                    .product__image, .product__info{
                        opacity: .5;
                    }
                }
                .right-1, .right-2{
                    .product__image, .product__info{
                        opacity: .5;
                    }
                }
            }
        }
    }
}
