doctype html
html(lang="en")#html
    head
        include ./componentes/_head.pug     
            +Head("Línea chicos y chicas", "Línea chicos y chicas de la empresa mailin distribuciones, comercializadora de productos para el cuidado personal")  
    body
        
        section#notice
            span.notice__text Envíos gratis por compras superiores a 100.000 pesos
        include componentes/_header.pug
        .modal
            .productModal
                img(src="../assets/close_button.svg", alt="Menú de hamburguesa").close_button 
                .productModal__image
                    img(src="../assets/load.gif", alt="Imagen del producto")
                .productModal__info
                    h1.productModal__info-name Cargando...
                    p.productModal__info-description Cargando...
                    h3.productModal__info-size Cargando...
                    .productModal__info-prices
                        h2.price-before <strike>Cargando...</strike>
                        h2.price-now Cargando... 
                    .productModal__info-buy 
                        span Comprar:
                        .social_media
                            a(href="https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w") 
                                i.fab.fa-whatsapp
        section#line
            nav.line__menu
                a(href="cuidado-corporal.html").line__menu-element cuidado corporal
                a(href="fragancias.html").line__menu-element fragancias
                a(href="bebe.html").line__menu-element bebé
                a(href="capilar.html").line__menu-element capilar
                a(href="cuidado-personal.html").line__menu-element cuidado personal
                a(href="green.html").line__menu-element green
                a(href="chicos-chicas.html").line__menu-element.lineActive chicos y chicas
                a(href="blanca.html").line__menu-element blanca
                a(href="masculina.html").line__menu-element masculina
            input(type="text" placeholder="Buscar un producto").searchBar
        main.catalog
            .catalog__container 
            img(src="../assets/load.gif", alt="Imagen de carga").loadgif
                 
        .modal
            .distributorModal
                img(src="../assets/close_button.svg", alt="Menú de hamburguesa").close_button 
                img(src="../assets/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
                h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
                //<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOtaUtxRweXQMUqnLia9gtU6sZfetwFUnb-JoduV4OBMiHbg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                img(src="../assets/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
        .modal 
            .wholesaleModal
                img(src="../assets/close_button.svg", alt="Menú de hamburguesa").close_button 
                img(src="../assets/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
                h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
                //<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf1puLzSvehJP_yky7VS1LicPtRsnWOdbtCKzSCrqyi7QWiwA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                img(src="../assets/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
        include componentes/_footer.pug
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')