footer.footer#contact
            span.lines__label Contacto
            .buttons__container 
                button.footer__button 
                    h3.footer__button-title Conviértete en un distribuidor
                    i.fas.fa-arrow-right.footer__button-arrow 
                    span.footer__button-description Has parte de esta maravillosa empresa y contribuirás 
                                                    |a la economía de este país
                button.footer__button 
                    h3.footer__button-title Comprar al por mayor
                    i.fas.fa-arrow-right.footer__button-arrow 
                    span.footer__button-description Has parte de esta maravillosa empresa y contribuirás 
                                                    |a la economía de este país
            .footer__container
                .contact 
                    h2.contact__title Contacto 
                    h6.contact__info Ana Catalina Restrepo Ramírez
                    h6.contact__info +57 320 8762984
                    h6.contact__info mailindistribuciones@gmail.com
                .social_media 
                    h2.social_media-title Síguenos 
                    .social_media-container
                        a(href="https://www.instagram.com/__greazy__/?hl=es-la") 
                            i.fab.fa-instagram 
                        a(href="https://api.whatsapp.com/send?phone=573226330880&text=Hola%20vengo%20de%20la%20p%C3%A1gina%20web%20y%20me%20interesa%20conocer%20m%C3%A1s%20de%20ustedes") 
                            i.fab.fa-whatsapp
                        a(href="https://www.facebook.com/Greazy-streetwear-101671948261008") 
                            i.fab.fa-facebook-f
                        a(href="https://www.facebook.com/Greazy-streetwear-101671948261008") 
                            i.fab.fa-google
            span.rights © Mailin Distribuciones
            //- img(src="images/hojas_ppal.svg", alt="Imagen de hoja colorida").primaryLeaf