header.header
            img(src="../images/hamburguer_menu.svg", alt="Menú de hamburguesa").hamburguer_button 
            ul.mobile_menu                
                li
                    a(href="../index.html#hero" alt="Dirigirse a home") home    
                li
                    a(href="../index.html#sales" alt="Dirigirse a ofertas") ofertas   
                li.active
                    a(href="../index.html#lines" alt="Dirigirse a líneas") líneas    
                li
                    a(href="../index.html#story" alt="Dirigirse a historia") historia   
                li
                    a(href="../index.html#location" alt="Dirigirse a ubicación") ubicación
                li
                    a(href="../index.html#contact" alt="Dirigirse a contacto ") contacto   
            img(src="../images/logo.png", alt="Logo de Mailin distribuciones").logo