mixin product()
    .product&attributes(attributes)
        .product__image 
            img(src="" alt="Imagen del producto")
            button.view_more Ver más
            span.product__discount
        .product__info 
            span.product__info-name
            .product__prices
                span.product__prices-before
                span.product__prices-new

doctype html
html(lang="en")#html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/estilos_linea.css")
        link(rel="stylesheet", href="../css/animations.css")
        link(rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png")
        title Línea Bebé
    body

        section#notice
            span.notice__text Envíos gratis por compras superiores a 100.000 pesos
        include componentes/_header.pug
        .modal
            .productModal
                img(src="../images/close_button.svg", alt="Menú de hamburguesa").close_button 
                .productModal__image
                    img(src="../images/load.gif", alt="Imagen del producto")
                .productModal__info
                    h1.productModal__info-name Cargando...
                    p.productModal__info-description Cargando...
                    h3.productModal__info-size Cargando...
                    .productModal__info-prices
                        h2.price-before <strike>Cargando...</strike>
                        h2.price-now Cargando... 
                    .productModal__info-buy 
                        span Comprar:
                        .social_media
                            a(href="https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w") 
                                i.fab.fa-whatsapp
        section#line
            span.line_title Línea bebé
            input(type="text" placeholder="Busca un producto").searchBar
            nav.line__menu
                a(href="bebe.html").line__menu-element bebe
                a(href="cosmetica.html").line__menu-element cosmética
                a(href="cuidado-corporal.html").line__menu-element cuidado corporal
                a(href="capilar.html").line__menu-element capilar
                a(href="quema-grasa.html").line__menu-element quema grasa
                a(href="estuches.html").line__menu-element estuches
        main.catalog
            img(src="../images/hojas_medio2.svg", alt="Imagen de hoja sencilla").lines__image
            .catalog__container 
                +product("")(class="32")
                +product("")(class="33")       
                +product("")(class="34")  
                +product("")(class="0") 
                +product("")(class="35")      
                +product("")(class="47") 
                +product("")(class="44") 
                +product("")(class="74") 
                +product("")(class="75")
                +product("")(class="38")                      
                +product("")(class="36")        
                +product("")(class="37")      
                +product("")(class="43") 
                +product("")(class="45") 
                +product("")(class="46") 
                +product("")(class="71") 
                +product("")(class="72") 
                +product("")(class="73") 
                 
            img(src="../images/hojas_medio2.svg", alt="Imagen de hoja sencilla").lines__image
        .modal
            .distributorModal
                img(src="../images/close_button.svg", alt="Menú de hamburguesa").close_button 
                img(src="../images/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
                h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOtaUtxRweXQMUqnLia9gtU6sZfetwFUnb-JoduV4OBMiHbg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                img(src="../images/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
        .modal 
            .wholesaleModal
                img(src="../images/close_button.svg", alt="Menú de hamburguesa").close_button 
                img(src="../images/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
                h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf1puLzSvehJP_yky7VS1LicPtRsnWOdbtCKzSCrqyi7QWiwA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                img(src="../images/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
        include componentes/_footer.pug
        script(src="../js/render_product.js")
        script(src="../js/lines_animations.js")
        script(src="../js/modal_footer.js") 
        script(src="../js/modal_index.js") 
        script(src="../js/modal_lines.js") 
        script(src="../js/menu.js")
        script(src="../js/search_product.js")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')