.modal
    .distributorModal
        img(src="../assets/close_button.svg", alt="Menú de hamburguesa").close_button 
        img(src="../assets/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
        h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezso4Ip92CV4owmBjPX53IXxVbS4UVsPV5wnhhObiQbpnwgA/viewform?embedded=true" width="640" height="844" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        img(src="../assets/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image

.modal 
    .wholesaleModal
        img(src="../assets/close_button.svg", alt="Menú de hamburguesa").close_button 
        img(src="../assets/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
        h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSctw1U3P5BeAxCK0hZHF33zBQIM4PRbkVvaTVryA0jZ4DgpYg/viewform?embedded=true" width="640" height="864" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        img(src="../assets/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image