footer.footer#contact
            span.lines__label Contacto
            .buttons__container 
                button.footer__button 
                    h3.footer__button-title Conviértete en un distribuidor
                    i.fas.fa-arrow-right.footer__button-arrow 
                    span.footer__button-description Has parte de esta maravillosa empresa y contribuirás 
                                                    |a la economía de este país
                button.footer__button 
                    h3.footer__button-title Comprar al por mayor
                    i.fas.fa-arrow-right.footer__button-arrow 
                    span.footer__button-description Has parte de esta maravillosa empresa y contribuirás 
                                                    |a la economía de este país
            .footer__container
                .contact 
                    h2.contact__title Contacto 
                    span.contact__info Ana Catalina Restrepo Ramírez
                    span.contact__info +57 320 8762984
                    span.contact__info mailindistribuciones@gmail.com
                .social_media 
                    h2.social_media-title Síguenos 
                    .social_media-container
                        a(href="https://www.instagram.com/mailin_distribuciones/") 
                            i.fab.fa-instagram 
                        a(href="https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w") 
                            i.fab.fa-whatsapp
                        a(href="https://www.facebook.com/Mailin-Distribuciones-110829377246916") 
                            i.fab.fa-facebook-f
                        a(href="https://www.google.com/search?ei=Dow6YKulNZaKwbkPpfKD4Ao&q=MAILIN+DISTRIBUCIONES+SAS&oq=MAILIN+DISTRIBUCIONES+SAS&gs_lcp=Cgdnd3Mtd2l6EAMyBQgmELADUNYOWNYOYOcPaAFwAHgAgAGiAYgBogGSAQMwLjGYAQCgAQGqAQdnd3Mtd2l6yAEBwAEB&sclient=gws-wiz&ved=0ahUKEwir5Pfc1YrvAhUWRTABHSX5AKwQ4dUDCA0&uact=5") 
                            i.fab.fa-google
            span.rights © Mailin Distribuciones
            img(src="../assets/hojas_ppal.svg", alt="Imagen con hojas de diferentes colores", class="hojasPpal")
            //- img(src="assets/hojas_ppal.svg", alt="Imagen de hoja colorida").primaryLeaf